@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;700&display=swap");
@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
}

@layer base {
  html {
    @apply animate-duration-500 duration-1000;
  }

  body {
    font-family: var(--font-montserrat-alternates);
  }
}
